<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Smart Text Helper</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="container">
    <h2>Smart Text Helper</h2>

    <button class="btn" id="expand"> Clarify Text </button>
    <button class="btn" id="change-slang"> Adjust Tone </button>
    <button class="btn" id="translate"> Translate Text</button>
    
    <input type="text" id="translateInput" class="hidden" placeholder="e.g., Spanish, Hindi, Tamil" />

    </div>

  <script src="../static/script.js"></script>
</body>
</html>